data/
.cursor/
.specify/
.venv/
__pycache__/
*.pyc
specs/
logs/
DataScienceRef/
user_data/
IFLOW.md
prediction_result/
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.fls
report/*.fdb_latexmk
report/*.xdv
report/*.synctex.gz
report/*.dvi
.vscode/settings.json
